{# templates/home/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Хебр{% endblock %}

{% block content %}
    <h1>Последние посты</h1>

		<ul>
			{% for post in posts %}
				<li>
					<h2>{{ post.title }}</h2>
					<p>{{ post.content }}</p>
				</li>
			{% endfor %}
		</ul>
{% endblock %}